[Desktop Entry]
Name=Iconoscope
Comment=View installed icons and their properties
Exec=com.github.santileortiz.iconoscope
Icon=com.github.santileortiz.iconoscope
Keywords=icons;themes;
Terminal=false
Type=Application
Categories=Graphics;Utility;
